@import 'tailwindcss';

:root {
  --background: #eaeff5;
  --foreground: #262b3e;
  --navyColor: #2a3048;
  --divider: #d4d8e1;
  --grayColor: #c7c9da;
  --darkGrayCOlor: #535969;
  --blueColor: #0169dc;
  --whiteColor: #fefefe;
}

@theme {
  --color-background: var(--background);
  --color-navyColor: var(--navyColor);
  --color-divider: var(--divider);
  --color-grayColor: var(--grayColor);
  --color-darkGrayColor: var(--darkGrayColor);
  --color-blueColor: var(--blueColor);
  --color-whiteColor: var(--whiteColor);

  --font-pre: var(--font-pretendard), sans-serif;
  --text-14: 14px;
  --text-16: 16px;
  --text-20: 20px;
  --text-32: 32px;
  --text-48: 48px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-pretendard), sans-serif;
  }
}
